img {
  width: 100%;
}

.landing {
  position: relative;
  background-color: #223843;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}


.landing-inner {
  padding-top: 80px;
}

.back-puce {
  background-color: #462407;
  color: #fff;
}

.puce {
  color: #462407;
}

.back-indigo {
  background-color: #223843 !important;
  color: #fff;
}



.indigo {
  color: #223843;
}

.indigo:hover {
    color: #fff;
}

.back-grey-blue {
  background-color: #7d98a1;
  color: #fff;
}

.grey-blue {
  background-color: rgba(255,255,255,0);
  color: #7d98a1;
}

.grey-blue:hover {
  background-color: rgba(255,255,255,0);
  color: #c3c49e;
}

.reder {
  color: rgba(255,0,0);
}

.grey-blue-puce {
  background-color: rgba(255,255,255,0);
  color: #7d98a1;
}
.grey-blue-puce:hover {
  background-color: rgba(255,255,255,0);
  color: #462407;
}

.indigo-hover {
}

.no-hover {
}

.no-hover:hover {
  background-color: rgba(255,255,255,0);
  color: rgba(255,255,255,0);
}

.indigo-hover:hover {
  background-color: #223843 !important;
  color: #c3c49e;
}

.toco {
  font-size: 70%;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cantin {
  position: absolute;
  left: 90%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.cantao {
  position: absolute;
  left: 10%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.persona-card {
  max-height: '50px';
  border: 1px solid rgba(0,0,0,0.125);
  display: flex;
  padding: .5rem;
  color: #6c757d;
}

.new-action-title {
  padding: .5rem;
  background-color: #223843;
}

.new-action-card {
  border: 1px solid rgba(22,38,43,0.9);
}

.persona-header-card {
  max-height: '200px';
  border: 1px solid rgba(0,0,0,0.125);
  display: flex;
  padding: 1.25rem;
  color: #fff;
}

.name-title {
  font-size: 2.5rem
}

.persona-pic {
  max-height: '50px' !important;
}

.social-links {
  margin-top: 1rem;
}

.social-ico {
  color: #fff;
}

.social-ico:hover {
  color: #c3c49e;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.bg-card {
  background-color: #462407;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
